body {
    background: indianred;

    h1 {
        font-weight: bold
    }
    .img-baseball {
        width: 300px;
    }
    h3 {
        font-size: large
    }
    h4 {
        font-size: medium
    }
    .img-gym {
        width: 300px, 
    }
    h5 {
        font-size: large
    }
    h6 {
        font-size: medium
    }
}